/* ==UserStyle==
@name            AlternativeTo responsive + customizations
@version         1.0.4
@description     AlternativeTo website is more suitable for wide screens.
@author          BreatFR (https://breat.fr)
@namespace       https://gitlab.com/breatfr
@homepageURL     https://gitlab.com/breatfr/alternativeto
@updateURL       https://gitlab.com/breatfr/alternativeto/-/raw/main/css/alternativeto-responsive-customizations.user.css
@supportURL      https://discord.gg/Q8KSHzdBxs
@license         AGPL-3.0-or-later; https://www.gnu.org/licenses/agpl-3.0.txt
@preprocessor    stylus

@var    text    hideads     "Hide ads"      1
==/UserStyle== */

/* === Credits ===
Website         https://breat.fr
facebook        https://www.facebook.com/breatfroff
mastodon        https://mastodon.social/@breat_fr
telegram        https://t.me/breatfr
vk              https://vk.com/breatfroff
X (twitter)     https://x.com/breatfroff
=== Credits === */

@-moz-document domain("alternativeto.net") {
    body {
        overflow-x: hidden;
    }
    
    .container,
    .wide-container {
        max-width:100%;
        width: 100%;
    }
    .HeaderLinks_header__Ia2QY {
        max-width:100%;
        margin-left: 10px;
        margin-right: 10px;
        width: 100%;
    }
    .PageIntroImage_a2-header-left__jKwJJ {
        margin-left: 10%;
    }
    
    .react-tiny-popover-container {
        left: auto !important;
        right: 0 !important;
        top: 69px !important;
        transform: none !important;
    }
    
    if hideads {
        .GamAds_food__Gas_2,
        .in-list,
        .spacer-6,
        .spacer-16 {
            display: none;
        }
        div[style="display: flex; justify-content: center; margin: 12px auto;"] {
            margin: 0 !important;
        }
    }
}
